*{
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border: solid 5px green;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 55px;
}

#form [type="number"]{
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
    outline: solid 5px rgb(20, 16, 85);
}

#form [type="submit"],
#ocultar,
#mostrar,
#media,
#recomecar{
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
    border: none;
    background-color: rgb(178, 248, 221);
    outline: solid 5px rgb(20, 16, 85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    transition: background-color 1s ease, outline 1s ease, color 1s ease;
}

#form [type="submit"]:hover,
#ocultar:hover,
#mostrar:hover,
#media:hover,
#recomecar:hover{
    color: rgb(0, 255, 0);
    background-color: rgb(45, 39, 99);
    outline: solid 5px rgb(5, 255, 17);
}

#form [for="number"]{
    cursor: text;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#show,
#mostrar,
#mostrardiv,
#ocultar{
    margin: 5px;
}

#show,
#mostrardiv{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    font-size: 15px;
}

#mostrardiv{    
    white-space: pre-line;
}

