* {
    margin: 0;
}
header {
    height: 10vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
}

.marca {
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    padding: 15px;
    background-color: black;
    color: #fff;
    font-family: 'Signika Negative', sans-serif;
}

.topo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.link {
    margin-left: 50px;
    margin-right: 20px;
}

.link a {
    font-family: 'Signika Negative', sans-serif;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px; 
    transition: color 1s ease, border-bottom 0.5s ease;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
}
.link a:hover {
    color: rgb(223, 110, 110);
    border-bottom: 2px solid rgb(223, 110, 110);
}


.userposi {
    font-family: 'Signika Negative', sans-serif;
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
    font-size: 30px;
    border: solid 3px #fff;
}

.userconfig{    
    border-radius: 10px;
    border: solid 2px yellow;
    font-size: 20px;
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    right: 2px;
    top: 48px;
    position: absolute;
    top: 60px;
}

.userconfig > a{
    font-family: 'Signika Negative', sans-serif;
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 0, 0);
    transition: color 0.5s ease;
}

.userconfig > a:hover{
    color: rgb(223, 110, 110);

}

.nomediv{
    background-color: aliceblue;
}

#bmostrar{
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    padding-top: 4px;
    border: none;
    outline: none;
}

#bmostrar img{
    max-width: 20px;
    max-height: 20px;
}
