body {
    background-image: url(/Código/midias/Lauren\ Marttila\ Photography.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.container h1{
    color: darkblue;
    text-shadow: 1px 2px 3px rgb(245, 4, 4);
}

.container {
    margin-top: 16%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 20px;
    background-color: rgba(140, 224, 252, 0.452);
    border: 5px solid #833535;
    border-radius: 50px;
    box-shadow: 0 0 9px black;
}

.container label{
    display: block;
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container input{
    outline: solid 3px green;
    border: none;
    border-radius: 50px;
    display: block;
    margin-bottom: 20px;
    padding: 8px;
}

#enviarnumero,
#apagar{
    border: 3px solid rgb(37, 187, 0);
    border-radius: 50px;
    background-color: rgb(204, 243, 243);
    cursor: pointer;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color 1s ease;
}

#enviarnumero:hover,
#apagar:hover{
    /* font-size: 16px; */
    background-color: #00ff88;
    /* border-radius: 15px; */
}
#resultado{
    margin-bottom: 15px;
}

#resultado,
#tentativas{
    box-shadow: 10px 5px 4px black;
    background-color: #ffffff;
    border: solid 4px green;
    padding: 4px;
    border-radius: 12px;
}
