h1 {
    margin-top: 0;
    margin-bottom: 20px; /* Adicione uma margem inferior */
    font-size: 36px;
    text-align: center;
    color: #333;
}

input {
    padding-left: 100px;
    text-align: center;
    display: inline-block;
}
